<!DOCTYPE html>
<html>
  <head>
    <title>Alphabet Cards</title>
    <link rel="stylesheet" href="style.css">
    <script lang="javascript">
      function cardclicked(name) {
        alert("You clicked the card!" + name);
      }
      </script>
  </head>
  <body>
    <h1>Alphabet Cards</h1>
    <div class="card-container"></div>
    <script src="app.js"></script>
    <a href="/eachsound"><img class="image" src="/static/images/astronaut-Aa.png" width="120px" height="auto"></a>
    <img class="image" src="/static/images/Boat-Bb.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Chili-Cc.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Dog-Dd.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Egg-Ee.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Frisbee-Ff.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Grape-Gg.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Hamburger-Hh.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Ink-Ii.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Jam-Jj.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Karate.Kk.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Ladybug-Ll.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Moon-Mm.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Nurse-Nn.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Octopus-Oo.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Paper-Pp.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Queen-Qq.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Rose-Rr.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Shark-Ss.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Tiger-Tt.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Umbrella-Uu.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Volcano-Vv.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Windmill-Ww.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Xylophone-Xx.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Yacht-Yy.png" width="120px" height="auto"></img>
    <img class="image" src="/static/images/Zebra-Zz.png" width="120px" height="auto"></img>
  </body>
</html>