{% extends 'base.html' %}

{% block content %}
<div class="container">
<header>
    <h1>Fun Phonetics!</h1>
    <h6>Language: English</h6>
</header>
<main>
    <img class="image" src="/static/images/ASTRONAUT.png" width="120px" height="auto" onclick="cardclicked('ASTRONAUT')">
    <h2>Astronaut</h2>
    <class="flash-card">
        <class="letter-background">
            <h1>A</h1>
        </class>
        <button id="recordButton" class="start">Start</button>
        <button id="stopButton" class="stop">Stop</button>
        <button id="playButton" class="play">Playback</button>
        <a href="/results"><button id="results" class="results">Results</button></a>
    </class>
</main>
</div>
{% endblock %}