{% extends 'base.html' %}

{% block content %}
<div class="container">
<header>
    <h1>Fun Phonetics AI</h1>
    <h6>Language: English</h6>
</header>
<main>
    <h2>Hello Ivan!</h2>
    <p>My name is Danny, and I am your AI Phonetics advisor!</p>
    <p>*For today's lesson you will start by first selecting one of the tags that will appear below on the highlighted grey bubbles</p>
    <p>*After your selection we will take you into the phonetics playground where you will be able to test your skills!</p>
    <button class="card-icon">
        <img class="image" src="/static/images/ASTRONAUT.png" width="20" height="auto">
        Astronaut
    </button>
    <button class="card-icon">
        <img class="image" src="/static/images/KARATE.png" width="20" height="auto">
        Karate
    </button>
    <button class="card-icon">
        <img class="image" src="/static/images/ROSE.png" width="20" height="auto">
        Rose
    </button>
    <button class="card-icon">
        <img class="image" src="/static/images/Xylophone.png" width="20" height="auto">
        Xylophone
    </button>
 
    <button>Let's Begin!</button>
</main>
</div>
{% endblock %}
