{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Fun Phonetics!</h1>
    <h3>How to say</h3>
    <div>
        <img class="image" src="/static/images/cat.png" alt="What is this?" width="200" height="auto">
    </div>

    <div id="imageContainer">
        <img id="wordImage" src="">
      </div>
      <div id="controls">
        <button id="recordButton">Try it!</button>
        <button id="stopButton" disabled>Done</button>
        <button id="playButton" disabled>Play it back</button>
        <button id="nextButton" disabled onclick="loadNextWord()">Next word</button>
      </div>

    <p id="result"></p>
</div>
{% endblock %}
